
.main-heading {
    font-weight: 700;
    font-size: xx-large;
    color: black;
}

.main-subheading {
    padding: 2rem;
}

.sub-box {
    display: flex;
    flex-direction: column;
}
  
.item {
    display: flex;
    justify-content: space-between;
}
  
.product {
    display: flex;
    align-items: center;
}
  
.productImage {
    width: 6rem;
    height: 6rem;
}
  
.productImage img {
    width: 90%;
    height: 90%;
}
  
.productDetail {
    display: flex;
    color: rgb(48, 44, 44);
}
  
.buttons {
    display: flex;
    width: 32%;
    align-items:center;
}

.change {
    border: 1px solid black;
    width: 2.5rem;
    height: 2rem;
    font-weight: 600;
    font-size: large;
}
  
.space-between {
    width: 2em;
    height: 2rem;
}
  
.delete {
    border:  1px solid black;
    width: 6rem;
    height: 2rem;
    background-color: rgb(78, 77, 77);
    color: rgb(213, 224, 235);
    display: block;
}
  
.seperator {
    width: 100%;
    height: 3px;
    background-color: rgb(98, 84, 84);
}
  
.total{
      margin-left: 6rem;
      margin-top: 1rem;
      font-weight: bold;
      color: rgb(53, 52, 52);;
}
  
.deleteIcon{
      display: none;
}
  
@media only screen and (min-width: 200px) and (max-width: 450px)  {
      .shoppingCart{
          padding: 4rem 3rem;
      }
      .cart{
          padding: 2rem 0;
      }
      .delete{display: none;}
      .deleteIcon{
          display: block;
      }
      .space {
          width: 0.5rem;
          height: 1.5rem;
        }
        .productDetail{
            display: block;
        }
  
        .productImage {
          width: 5.5rem;
          height: 4.5rem;
        }
  
}